.searchBar {
    z-index: 11;
    width: 100%;
    display: flex; 
    justify-content: end;
}

.animeTextSearch {
  
    width: 20rem;
    color: white;
    font-family: 'poppins';
    padding: .5rem;
    border-radius: 5rem;

      /* other styles */
      background: rgba(39, 39, 39, 0.40);
      backdrop-filter: blur(10px);
      box-shadow: 0px 0px 5px grey;
      /* fallback for old browsers */
      -webkit-backdrop-filter: blur(60px);
      border: 1px solid rgba(255, 255, 255, 0.2);
}

.animeTextSearch::placeholder {
    color: #fff;
}

.searchBtn {
    position: absolute;
    top: .5rem;
    right: 1rem;
    z-index: 12;
}

.searchBtn:hover {
    scale: 1.1;
}

.browse-background {
    position: fixed;
    max-height: 100vh;
    background-image: url('../../images/browse-background.jpg');
    background-size: cover; /* Ensure the background covers the entire element */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the background from repeating */
    width: 100%; /* Ensure it takes the full width of the container */
    height: 100vh; /* Set the height to cover the viewport */
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.browse {
    position: relative;
    z-index: 1;
}


.browse-component {
   display: flex;
   justify-content: space-between;
   height: 100vh; 
   width: 100%;
   position: relative;

   
}

.filter-searchbar {
    padding-top: 10rem;
    padding-bottom: 10rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 2rem;
    position: fixed;
}

.filter-searchbar {
     /* other styles */
     background: rgba(39, 39, 39, 0.40);
     backdrop-filter: blur(10px);
     /* fallback for old browsers */
     -webkit-backdrop-filter: blur(60px);
     border: 1px solid rgba(255, 255, 255, 0.2);
}

.filter-searchbar-list {
    padding: 0 1rem 0 1rem;
    list-style: none;
   
}

.filter-searchbar-list li:hover {
    cursor: pointer;
    scale: 1.1;
}

.results-grid-container {
    
    height: auto;
    padding: 7rem .5rem 1rem .5rem;
    margin: 0 auto;

   
    
}

.results-grid-container h1 {
    text-align: center;
    width: 100%;
    z-index: 15;
}

.results-list {
    display: grid; 
    grid-template-columns: repeat(5, 1fr); 
    gap: 1rem; 
    padding: 2rem 0; 
    margin: 0 auto; 
    width: 100%;
    justify-content: center; 
    max-height: calc(100vh - 10rem);
    overflow-y: auto;
    z-index: 5;

    -webkit-overflow-scrolling: touch;
    
    /* Hide scrollbar but keep functionality */
    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer/Edge */
}

.results-list::-webkit-scrollbar {
    display: none;
}

.pagination-controls {
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin-top: 1rem;
    gap: 1rem; 
  }
  
  .pagination-controls button {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .pagination-controls button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }



/* 
* {
    outline: 1px solid red;
} */


@media only screen and (max-width: 27rem) {

    .browse-background {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 0;
        margin: 0 auto;
        width: 100%;
        height: auto;
    }

    .searchBar {
        width: 100%;
        display: flex; 
        justify-content: center;
    }


    .browse-component {
        display: flex;
        flex-direction: column;
        height: 100vh; 
        width: 100%;
        position: relative;
     }

     .filter-searchbar {
        margin-top: 4rem;
        margin-bottom: 1rem;
        padding-top: 0;
        padding-bottom: 0;
        height: fit-content;
        display: flex;
        justify-content: center;
        line-height: 2rem;
        position: relative;
    }

    .filter-searchbar-list {
        width: 100%;
    }

    .results-grid-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
      
        
    }

    .results-grid-container h1{
        
      
        
    }

     
    .results-list {
        display: flex; 
        flex-direction: column;
        align-items: center;
        gap: 1rem; 
        padding: 0; 
        margin: 0;
        width: 100%;
       
        
    }
}