.searchBar {
    position: absolute;
    top: 7.5rem;
    right: 20rem;
    z-index: 11;
}

.animeTextSearch {
  
    width: 20rem;
    color: white;
    font-family: 'poppins';
    padding: .5rem;
    border-radius: 5rem;

      /* other styles */
      background: rgba(39, 39, 39, 0.40);
      backdrop-filter: blur(10px);
      box-shadow: 0px 0px 5px grey;
      /* fallback for old browsers */
      -webkit-backdrop-filter: blur(60px);
      border: 1px solid rgba(255, 255, 255, 0.2);
}

.searchBtn {
    position: absolute;
    top: .5rem;
    right: 1rem;
    z-index: 12;
}

.searchBtn:hover {
    scale: 1.1;
}

.browse-background {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 0;
}


.browse-component {
   display: flex;
   justify-content: space-between;
   height: 100vh; 
   width: 100%;
   position: relative;
}

.filter-searchbar {
    padding-top: 10rem;
    padding-bottom: 10rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 2rem;
    position: fixed;
}

.filter-searchbar {
     /* other styles */
     background: rgba(39, 39, 39, 0.40);
     backdrop-filter: blur(10px);
     /* fallback for old browsers */
     -webkit-backdrop-filter: blur(60px);
     border: 1px solid rgba(255, 255, 255, 0.2);
}

.filter-searchbar-list {
    padding: 0 1rem 0 1rem;
    list-style: none;
   
}

.filter-searchbar-list li:hover {
    cursor: pointer;
    scale: 1.1;
}

.results-grid-container {
    height: auto;
    padding: 7rem 0 0 0;
    margin: 0 auto;
    
}

.results-grid-container h1 {
    text-align: center;
    width: 100%;
    z-index: 15;
}

.results-list {
    display: grid; 
    grid-template-columns: repeat(5, 1fr); 
    gap: 1rem; 
    padding: 2rem 0; 
    margin: 0 auto; 
    width: 100%;
    justify-content: center; 
    overflow: visible; 
    
}

.pagination-controls {
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin-top: 1rem;
    gap: 1rem; 
  }
  
  .pagination-controls button {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .pagination-controls button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }


/* 
* {
    outline: 1px solid red;
} */


@media only screen and (max-width: 27rem) {

    .searchBar {
        position: absolute;
        top: 4.5rem;
        right: 2rem;
        z-index: 11;
    }


    .browse-component {
        display: flex;
        flex-direction: column;
        height: 100vh; 
        width: 100%;
        position: relative;
     }

     .filter-searchbar {
        margin-top: 8rem;
        padding-top: 0;
        padding-bottom: 0;
        height: fit-content;
        display: flex;
        justify-content: center;
        line-height: 2rem;
        position: relative;
    }

    .results-grid-container {
    
        padding: 0;
      
        
    }

     
    .results-list {
        display: flex; 
        flex-direction: column;
        align-items: center;
        gap: 1rem; 
        padding: 0; 
        margin: 0;
        width: 100%;
       
        
    }
}