.watchlist-banner-img {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    min-height: 100vh;
    min-width: 100%;
    object-fit: contain;
    mask-image: linear-gradient(to right, black 25%, black 100%);
    -webkit-mask-image: linear-gradient(to right, black 25%, black 100%);
    display: flex;
    overflow: hidden;
}

                                    /* Watchlist Grid */



.watchlist-container {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100vh;
    overflow-y: hidden;

    display: flex;
    justify-content: center;
    padding-top: 8rem;
    padding-bottom: 1rem;
}

.watchlist-preview-header {
    text-align: center;
}




.watchlist-schedule-header {
    text-align: center;
}

.watchlist-container h1 {
    text-align: center;
    padding: 1rem 1rem 0 1rem;
    opacity: .9;
    color: #F26B83;
    display: inline-block;
}

.watchlist-preview-scroll  {
    overflow-y: auto; /* Allow scrolling within this container */
    max-height: none;
    height: auto;
}

.watchlist-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Take full container height */
    width: 100%;  /* Take full container width */
    position: fixed; /* Ensure it's positioned correctly */
    top: 0;
    right: 5rem;
    z-index: 10; /* Ensure it appears above other content */    
}
.loading-gif {
    width: 300px;
}

.watchlist-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: 15rem 15rem 15rem 15rem 15rem;
    max-height: none;
    height: auto;
    overflow-y: scroll;

    /* other styles */
    background: rgba(39, 39, 39, 0.75);
    backdrop-filter: blur(10px);
    /* fallback for old browsers */
    -webkit-backdrop-filter: blur(60px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0px 5px grey;
    padding-top: 1rem;

     /* Add smooth scrolling */
     scroll-behavior: smooth;
    
     /* Improve scrolling performance */
     overscroll-behavior-y: contain;
}



.watchlist-grid::-webkit-scrollbar {
    display: none;
}

.watchlist-grid h2 {
    font-size: 1rem;
}

.watchlist-item {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.watchlist-item img {
    max-height: 75%;

}

.watchlist-item h2 {
   text-align: center;
}

/* * {
    outline: 1px red solid;
} */

