
.anime-card {
   width: 13%;
   background-image: linear-gradient(180deg, rgb(43, 43, 43) 10%,
   transparent);
   flex-shrink: 0;
}

.anime-card:hover {
    scale: 1.025;
}

.anime-card h3 {
    text-wrap: wrap;
    font-size: 1rem;
}

.anime-card img {
	width: 100%;
}

.anime-card a {
    text-decoration: none;
    color: #fff;
}

