.watchlist {
    position: absolute;
    top: 0;
    right: 1rem;
    width: 40rem;
    
    z-index: 3;
      /* other styles */
      background: rgba(39, 39, 39, 0.75);
      backdrop-filter: blur(10px);
       /* fallback for old browsers */
      -webkit-backdrop-filter: blur(60px);
      border: 1px solid rgba(255, 255, 255, 0.2);
    
      display: none;
}

.watchlist h2 {
    text-align: center;
    font-size: 2rem;
}

.weekday h3{
    padding: .5rem;
    border-top: 1px solid rgba(255, 255, 255, 0.2) ;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2) ;
   
}

.weekday ul {
    padding: 1rem;
}

.weekday p {
    padding: 1rem;
    font-size: 1rem;
}

.weekday li{
    list-style: none;
    font-size: 1rem;
    font-style: italic;
} 

.watchlist-loading {
    margin: 0 auto;
    padding-left: 3rem;
}

.watchlist-dropdown {
    position: fixed;
    top: 4.25rem;
    right: 12rem;
    display: flex;
    font-size: 1rem;
    z-index: 11;
}

.watchlist-dropdown:hover {
    cursor: pointer;
}

.watchlist-dropdown:hover .watchlist {
    display: block;
    
}

@-webkit-keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
              opacity: 0;
    }
    100% {
      -webkit-transform: translateY(30px);
              transform: translateY(30px);
              opacity: 1;
    }
  }
  @keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
              opacity: 0;
    }
    100% {
      -webkit-transform: translateY(30px);
              transform: translateY(30px);
              opacity: 1;
    }
  }

  .slide-bottom {
	-webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}