.hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.banner-img {
    min-height: 100vh;
    min-width: 100%;
    mask-image: linear-gradient(to right, transparent, black 75%);
    -webkit-mask-image: linear-gradient(to right, transparent, black 75%);
    overflow: hidden;
    z-index: 1;
}


.hero-caption {
    position: absolute;
    width: 100%;
    padding-left: 6%;
    bottom:0;
}

.caption-img {
    width: 25rem;
    max-width: 25rem;
    margin-bottom: 2rem;
    margin-left: 5rem;
}

.caption {
    max-width: 43rem;
    font-size: 1rem;
    margin-left: 5rem;
    margin-bottom: 1.25rem;
}


.hero-btns {
    display: flex;
    gap: .75rem;
    margin-left: 5rem;
    margin-bottom: 3.5rem;
}

.hero-btns .btn img{
    width: 1.75rem;
    
}

.hero-btns .btn {
    border: 0;
    outline: 0;
    padding: .5rem 1rem;
    display: inline-flex;
    align-items: center;
    gap: .5rem;
    font-size: 1.25rem;
    font-weight: 600;
    background: #fff;
    border-radius: .2rem;
    
}

.hero-btns .btn:hover {
    background: #ffffffbf;
    cursor: pointer;
}

.hero-btns .btn.dark-btn {
    color: #fff;
    background: #6d6d6eb3;
}

.hero-btns .btn.dark-btn img {
    color: #fff;
} 
    
    


.hero-btns .btn.dark-btn:hover {
    color: #fff;
    background: #6d6d6e66;
}

.popular-section {
    width: 100%;
    padding: 4rem 3rem;
    font-size: 2rem;
    text-align: start;
    overflow-x: visible;
}



.popular-list {
    display: flex;
    gap: 2rem;
    padding: 1rem 0;
    overflow-x: scroll;  /* Changed back to 'scroll' */
    overflow-y: hidden;
    white-space: nowrap;
 
    -webkit-overflow-scrolling: touch;
    
    /* Hide scrollbar but keep functionality */
    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer/Edge */
}


.popular-list::-webkit-scrollbar {
    display: none;
}

