


.home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    margin: 0;
}

.banner-img {
    position: fixed;
    min-width: 100%;
   
    /* mask-image: linear-gradient(to right, transparent, black 75%);
    -webkit-mask-image: linear-gradient(to right, transparent, black 75%); */
    overflow: hidden;
    z-index: 1;
}

.home-top-row {
    display: flex;
    justify-content: space-between;
}


@media only screen and (max-width: 27rem) {
    .banner-img {
        position: fixed;
        min-height: 100vh;
        right: 0;
    }
    
}


