
.hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.banner-img {
    position: absolute;
    min-height: 100vh;
    min-width: 100%;
    mask-image: linear-gradient(to right, transparent, black 75%);
    -webkit-mask-image: linear-gradient(to right, transparent, black 75%);
    overflow: hidden;
    z-index: 1;
}



.popular-section {
    width: 100%;
    padding: 1rem 3rem;
    font-size: 2rem;
    text-align: start;
    overflow-x: visible; 
    position: absolute;
    z-index: 2;
    bottom: 0;
}



.popular-list {
    display: flex;
    gap: 2rem;
    overflow-x: scroll;  /* Changed back to 'scroll' */
    overflow-y: hidden;
    white-space: nowrap;
 
    -webkit-overflow-scrolling: touch;
    
    /* Hide scrollbar but keep functionality */
    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer/Edge */
}


.popular-list::-webkit-scrollbar {
    display: none;
}

