.watchlist-dropdown {
    padding: 6rem 6rem .5rem 6rem;
    font-size: 1rem;
    z-index: 11;
    width: 100%;
}

.watchlist-dropdown h3{
    color: #F26B83;
    text-align: center;
    font-size: 2rem;
}

.watchlist {
    display: flex;
    flex-direction: column;

    

    overflow-y: hidden;  /* Changed back to 'scroll' */
    overflow-x: auto;
    white-space: nowrap;
 
    -webkit-overflow-scrolling: touch;
    
    /* Hide scrollbar but keep functionality */
    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer/Edge */
    
    z-index: 3;
   
    background-color: rgba(70, 70, 70, 0.95);
}



.watchlist h2 {
    text-align: center;
    font-size: 2rem;
}

.weekday-list {
    display: none;
    
    flex: 0 0 auto;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0px 1px 1rem rgba(192, 192, 192, 0.432);
    

    overflow-x: auto;  /* Changed back to 'scroll' */
    overflow-y: hidden;
    white-space: nowrap;
 
    -webkit-overflow-scrolling: touch;
    
    /* Hide scrollbar but keep functionality */
    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer/Edge */
}

.weekday::-webkit-scrollbar {
    display: none; /* Hide scrollbar */
}

.weekday h2{
    font-size: 1rem;
    padding: .5rem;
    border-top: 1px solid rgba(255, 255, 255, 0.2) ;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2) ;
   
}

.weekday h2:hover {
    cursor: pointer;
}

.weekday-list ul {
    padding: 1rem 1rem 1rem 0;
    line-height: 2rem;
    display: flex;
    box-shadow: 0px 1px 1rem rgba(192, 192, 192, 0.432);
}

.remove:hover {
    scale: 1.1;
   
}
.weekday p {
    padding: 1rem;
    font-size: 1rem;
}

.weekday-list li{
    display: flex;
    margin-left: 1rem;
    list-style: none;
    font-size: 1rem;
    font-style: italic;
    
} 



.watchlist-loading {
    margin: 0 auto;
    padding-left: 3rem;
}

.weekday-list .titlecard-btns {
    display: none;
}





@-webkit-keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
              opacity: 0;
    }
    100% {
      -webkit-transform: translateY(30px);
              transform: translateY(30px);
              opacity: 1;
    }
  }
  @keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
              opacity: 0;
    }
    100% {
      -webkit-transform: translateY(30px);
              transform: translateY(30px);
              opacity: 1;
    }
  }

  .slide-bottom {
	-webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}